= simple_form_for [:game_control, @event, @location]  do |f|
  .box-body
    = f.input :event_id, as: :hidden
    - unless @location.persisted?
      = f.input :city_id, collection: @cities, label_method: :display_name
    = f.input :bar_name
    = f.input :bar_url, as: :url
    = f.input :start_time, as: :time
    = f.input :addr_street_1
    = f.input :addr_street_2
    = f.input :addr_country
    = f.input :addr_state, collection: @states, class: 'state',
                      label_method: :name, value_method: :code,
                      input_html: { class: :state }, disabled: true
    = f.input :addr_city
    = f.input :addr_postal_code
    = f.input :notes

  .box-footer
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', cancel_path(@event),
      html_options = { class: 'btn btn-default pull-right' }

javascript:
  $(document).ready(function() {
    $('select.state').select2();
    $('select.country').select2();
    $('select.country').countryStateSelect();
    $('#event_location_notes').wysihtml5({
      toolbar: {
        "fa": true,
        "font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
        "emphasis": true, //Italics, bold, etc. Default true
        "lists": false, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
        "html": false, //Button which allows you to edit the generated HTML. Default false
        "link": true, //Button to insert a link. Default true
        "image": false, //Button to insert an image. Default true,
        "color": false, //Button to change color of font
        "blockquote": false, //Blockquote
        "size": "none" //default: none, other options are xs, sm, lg
      }
    });
  });
